version: '3.8'

services:
  musicbot:
    container_name: musicbot
    build: .
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./database.sqlite:/usr/src/app/database.sqlite
      - ./Playlists:/usr/src/app/Playlists
